*{
    margin: 0px;
    padding: 20px;

}
.head-wrapper{
    background-color: aqua;

}
.img header{
    align-items: center;
    align-content: center;
}
.nav-wrapper{

}
.main-wrapper{
    /* background-color: beige; */
}
h1{
    text-align: center;
    text-decoration:blueviolet underline;
    font-family: fantasy;
}
.intro{
    font-size: 1em;
    font-family: fantasy;
}
#inner-box{
    align-items: center;
    width: 50%;
    height: 50%;

    border-top: 10px solid grey;
    border-right: 10px solid green;
    border-left: 10px solid blue;
    border-bottom: 10px solid yellow;

    padding-left: 80px solid rgb(232, 232, 238);
    padding-right: 80px solid rgb(214, 218, 214);
    padding-top:80px solid rgb(195, 195, 207) ;
    padding-bottom:80px solid rgb(168, 168, 184) ;

    margin-left: 10px solid blue;
    margin-right: 10px solid blue;
    margin-top: 10px solid blue;
    margin-bottom: 10px solid blue;
}

h2{
    text-align: center;
    text-decoration: underline;
}


